pandas==1.4.2
roboflow
requests==2.27.1
selenium
tqdm==4.64.0
webdriver_manager
googlemaps
opencv-python
opencv-contrib-python
numpy
tensorflow-macos
orbit
gin-config
pyyaml 
keras==2.2.4
chart_studio
plotly


